<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="d-flex">
    <h1 class="logo d-flex">
      <a href="index.html">
        眼鏡電商
      </a>
    </h1>
    <ul class="navbar d-flex align-items-center justify-content-center">
      <li><a href="#">系列鏡框</a></li>
      <li><a href="location.html">門市據點</a></li>
      <li><a href="#">部落格</a></li>
      <li><a href="#">常見問題</a></li>
    </ul>
  </nav>

  <%- contents %>

  <footer class="footer">
    <div class="container">
      <div class="footer-main d-flex justify-content-between">
        <div class="footer-info">
          <ul class="footer-nav d-flex">
            <li><a href="#">首頁</a></li>
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="#">常見問題</a></li>
          </ul>
          <ul class="contact-info d-flex">
            <li>
              <a class="d-flex align-items-center" href="tel:+0800-000-000">
              <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-phone.svg" alt="phone">
              <p>0800-000-000</p>
              </a>
            </li>
            <li>
              <a class="d-flex align-items-center" href="mailto:glasses@business.com">
              <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-mail.svg" alt="mail">
              <p>glasses@business.com</p>
              </a>
            </li>
          </ul>
        </div>
        <ul class="social-link d-flex">
          <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-fb.svg" alt="facebook" target="_blank"></a></li>
          <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-ig.svg" alt="instagram" target="_blank"></a></li>
          <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-line.svg" alt="line" target="_blank"></a></li>
        </ul>
      </div>
      <div class="footer-detail d-flex justify-content-between align-items-center">
        <div class="copyright d-flex align-items-center">
          <a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png" alt=""></a>
          <p>Copyright © 2020 Glasses.All rights reserved.</p>
        </div>
        <div class="policy d-flex">
          <a href="#">
            <h6>隱私權政策</h6>
          </a>
          <a href="#">
            <h6>服務條款</h6>
          </a>
        </div>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
