$font-family-base: 'Noto Sans', sans-serif;

$font-size-base: 1rem; //16px;

$h1-font-size: $font-size-base * 4; //64px
$h2-font-size: $font-size-base * 3; //48px
$h3-font-size: $font-size-base * 1.75; //28px
$h4-font-size: $font-size-base * 1.5; //24px
$h5-font-size: $font-size-base * 1.25; //20px
$h6-font-size: $font-size-base; //16px
$font-size-sm: $font-size-base * 0.875; //14px


$line-height-base: 1;
$h6-line-height: $line-height-base * 1.4;




$white: #FFFFFF;
$black: #000000;

$primary: #AA0601;
$secondary: #FBF2F2;

$text-primary: #650300;
$text-secondary: #AA0601;

